Project Logs for LEAKCAM
!Project\ Outputs\ for\ LEAKCAM/
Project\ Outputs\ for\ LEAKCAM/*
!Project\ Outputs\ for\ LEAKCAM/MIFA.tgz
!Project\ Outputs\ for\ LEAKCAM/*.G*
!Project\ Outputs\ for\ LEAKCAM/*.TXT
!Project\ Outputs\ for\ LEAKCAM/*.CSV
__Previews
History
*.CAM
tools/jlcpcb-cart/node_modules/
tools/jlcpcb-cart/cart_api.json
tools/jlcpcb-cart/package-lock.json
*.json
*.csv
*.ldb
*.pars
*.sab
*.vba
*.ldbss
*.log
*.abi
*.ads
*.alc
*.bwc
*.dib
*.dsn
*.fct
*.gdc
*.hid
*.jopt
*.pim
*.pipar
*.sjson
*.sweep
*.cbor
*.rps
*.ini
*.bin
*.dss
*.xml
*.prj
*.cfg
*.docstore
*.cha
*.chksm
*.ci
*.cpt
*.crd
*.cur
*.cwr
*.dbp
*.dpl
*.dpt
*.dsi
*.dtm
*.exp
*.fan
*.fgr
*.fld
*.fmd
*.grp
*.gtm
*.het
*.hp
*.hsu
*.ifo
*.im
*.impurity
*.lid
*.lmp
*.mch
*.mif
*.mot
*.mst
*.mvm
*.opg
*.opticalcarriergeneration
*.pck2
*.pik2
*.pin
*.plc
*.pmg
*.pms
*.pot
*.prf
*.ptc
*.rlc
*.rpp
*.index
*.scp
*.smp
*.tec
*.tem
*.tri
*.trm
*.trt
*.tsp
*.vde
*.vol
*.vwr
*.wcs
*.wir
*.slim
*.tet
*.cst
*.parmap
*.res
*.sdb
*.fdp
*.spd
*.fsf
*.sconf
*.axg
*.rex
*.db
*.hmi
*.mlg
*.pmi
*.rdb
*.sa
*.sct
*.scf
*.scl
*.mdg
*.txt
*.info
*.gex
*.mss
*.lok
*.tmpgrp
