/k230_agent/leakcam_agent
/bl616_pwrmgr/test/test_link
/bl616_pwrmgr/build/
*.o
# the repo root ignores *.txt (Altium outputs); these two are sources
!CMakeLists.txt
!/sim/power_sequence_report.txt
/k230_capture/leakcam_capture
/k230_capture/leakcam_hist
/k230_capture/test/test_imgdiff
/k230_capture/test/test_history
/bl616_pwrmgr/test/test_aht20
/bl616_pwrmgr/test/test_aon
/k230_capture/test/test_history_miniz
/k230_capture/test/test_imgqual
/k230_capture/test/test_imgqual_synth
/k230_capture/test/test_audio
/k230_board/rtsmart/drivers/bl616_nethub/test/test_nethub
/bl616_wifi/test/test_wifi_link
/k230_agent/test/test_link_e2e
/bl616_pwrmgr/test/test_link
